
Label  {
    padding: 1 2;
}


/*#cmd-groups {*/
/*    height: 100%;*/
/*    width: 100%;*/
/*    row-span: 2;*/
/*    background: $panel;*/
/*    align-horizontal: left;*/
/*    border: gray;*/
/*}*/

/*#cmd-groups:focus {*/
/*    border: cornflowerblue;*/
/*}*/

/*#cmd-tmpls {*/
/*    height: 100%;*/
/*    width: 100%;*/
/*    row-span: 2;*/
/*    background: $panel;*/
/*    offset-x: -100%;*/
/*    border: gray;*/
/*}*/

/*#cmd-tmpls:focus {*/
/*    border: darkorange;*/
/*}*/


#right-pane {
    height: 100%;
    width: 100%;
    background: #0a0a0a;
}

/* inside right-pane */
#top-info-bar {
    background: midnightblue;
    dock: top;
}

#output-pane {
    height: auto;
}

#template-bar {
    background: darkblue;
    dock: bottom;
    height: 1;
}

SideBarContainer {
    /* height: 100%; */
    /* layer: overlay; */
    dock: left;
    layer: overlay;
}

CmdGroupsSidebar {
    dock: left;
    layer: overlay;
    width: 25;
    height: 100%;
    background: $panel;
    transition: offset 100ms in_out_cubic;

}

CmdGroupsSidebar.-hidden {
    offset-x: -100%;
}

CmdTmplsSidebar {
    dock: left;
    width: 50;
    height: 100%;
    background: $panel;
    transition: offset 100ms in_out_cubic;
    /* layer: overlay; */
    /* align-horizontal: left; */
}

CmdTmplsSidebar.-hidden {
    offset-x: -100%;
    display: none;
}
